.filter {
    margin: 30px 0 50px 20px;
    color: #212121;
    display: flex;
}

.filter__name {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 18px;
}

.filter__menu {
    width: 135px !important;
    text-align: center !important;
}

/* important используется в соответствии с документацией пакета  react-multi-select-component */

.rmsc {
    --rmsc-gray: black !important;
    --rmsc-bg: #F2F2F2 !important;
    --rmsc-h: 23px !important;
    --rmsc-hover: #07D6F2 !important;
    --rmsc-selected: #07D6F2 !important;
}

.rmsc .dropdown-container {
    border: none !important;
    box-shadow: inset 0px -2px 0px rgb(0 0 0 / 18%) !important;
    border-radius: 4px !important;
}

.rmsc .dropdown-heading {
    cursor: pointer !important;
}

.spinner {
    width: 20px;
    height: 20px;
}