.card {
    background: #F0F0F0;
    border-radius: 8px;
    width: 351px;
    height: 137px;
    filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
    cursor: pointer;
}

.card__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
    margin: 5px 0 19px 7.98%;
}

.card__card-tag {
    min-width: 74px;
    width: fit-content;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #212121;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    padding: 0 11px;
    box-sizing: border-box;
}

.card__info-container {
    display: flex;
    gap: 13px;
    margin: 0 0 10px 7.98%;

}

.card__info-value {
    border: 3px solid #212121;
    box-sizing: border-box;
    border-radius: 50%;
    min-width: 38px;
    width: fit-content;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #212121;
    margin: 0;
    margin-bottom: 6px;
}

.card__info-name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #4B4B4B;
}

.card__info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__tags-container {
    display: flex;
    gap: 13px;
    margin: 0 0 12px 7.98%;
}

.card__info-item_hidden {
    display: none;
}