.header {
    width: 100%;
    height: 93px;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
    background: var(--main-color);
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
    display: flex;
}

.header__logo {
    margin: 10px 0 3px 10.9%;
}