.intro {
    position: relative;
    padding: 0 0 246px 0;
    font-size: 23px;
    min-height: 100vh;
}

.intro__title {
    width: 35.14%;
    font-style: normal;
    font-weight: 700;
    font-size: 3.13em;
    line-height: 1.16;
    letter-spacing: 4px;
    color: #FFFFFF;
    padding: 128px 0 64px 10.9%;
    margin: 0;
}

.intro__span {
    font-weight: 400;
}

.intro__subtitle {
    width: 35.76%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.39em;
    line-height: 1.16;
    color: #FFFFFF;
    padding: 0 0 64px 10.9%;
    margin: 0;
}

.intro__pic {
    width: 55%;
    position: absolute;
    right: 0;
    top: 67px;
}

.intro__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 66px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    color: #212121;
    background: var(--color-yellow);
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    border: none;
    margin: 0 0 0 10.9%;
}

@media screen and (max-width: 1280px) {
    .intro {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        font-size: 14px;
    }
}

@media screen and (max-width: 930px) {
    .intro {
        padding: 0 0 150px 0;
    }

    .intro__title {
        letter-spacing: 2px;
        color: #FFFFFF;
        padding: 80px 0 40px 10.9%;
    }

    .intro__pic {
        top: 0;
    }

    .intro__link {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        font-size: 10px;
    }

    .intro__title {
        padding: 40px 0 20px 10.9%;
    }

    .intro__link {
        height: 40px;
        width: 30%;
    }
}

@media screen and (max-width: 560px) {
    .intro {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    .intro__title {
        width: 90%;
        padding: 128px 0 64px 0;
        text-align: center;
    }


    .intro__subtitle {
        width: 90%;
        padding: 0 0 64px 0;
        text-align: center;
    }

    .intro__pic {
        position: relative;
        margin: 100px;
        width: 80%;
    }

    .intro__link {
        width: 50%;
        margin: 0;
    }
}